---
---

@import "{{ site.theme }}";
body {
    background: #141414;
    color: azure;
    font-size: 1.1em;
}
h1, h2, h3 {
    color:#8e2b7a;
    text-shadow: 3px 2px rgba(0, 0, 0, 1);
}
a {
    color: #b13b9a;
    font-weight: 400;
    text-decoration:none
}

a:hover {
    color:#c911a5
}

#header nav ul li a {
    color: white;
    border: 1px solid #000000;
    background: linear-gradient(rgb(77, 5, 49) 47.48%, #bc0baf 96.22%);
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
    background-color: #c911c3;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align:center
}
#header nav ul li a:hover {
    background: linear-gradient(rgb(77, 5, 49), #bc0baf 96.22%);
    background-color: #659e10;
    border: 2px solid rgba(241, 241, 241, 0.2);
    box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px transparent
}
section {
    color: #dddddd;
    font-size: 14px;
    padding: 0px 0px 0px 0px;
}
/*#title {
  display: none;
}*/


/*# background #1f1f1f */
